body {
  overflow-x: hidden;
}

.app {
  background: #fff;
}

.app-header {
  height: 34rem;
  background-image: url("./assets/headerimage2.jpg");
  background-size: cover;
  background-position: center 10;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
}